/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
    --cor--primaria: #132B39;
    --cor--secundaria: #86C549;
    --cor--terciaria: #FFFFFF;
    --cor--quaternaria: #27272795;
}

/* FONTES */
:root{
    --fonte--primaria: 'Inter', sans-serif;
}

.section__03__ben {
    background-color: var(--cor--terciaria);
    font-family: var(--fonte--primaria);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
   
  }

.main__cards__ben {
  max-width: 1200px;
  margin: 0 auto;
}

.section__03 img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards__ben {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item__ben {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards__item__ben {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards__item__ben {
    width: 33.3333%;
  }
}

.card__ben {
  background: linear-gradient(to bottom left, #132B39 50%, #23516c 100%);  border-radius: 1rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__content__ben {
  padding: 1rem;
 
}

.card__title__ben {
  color: #ffffff;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.card__text__ben {
  color: #ffffff;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  padding-top: 15px;
}

.card__content__title__ben {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
}

.section__03__titulo__ben {
  color: var(--cor--primaria);
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding: 30px 100px 0 100px;
}

.section__03__subtitulo {
  color: var(--cor--primaria);
  font-size: 18px;
  font-weight: 400;
  padding: 10px 100px 30px 100px;

}
