/* IMPORTAÇÕES */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul{
    list-style: none;
}

/* CORES */
:root{
    --cor--primaria: #132B39;
    --cor--secundaria: #86C549;
    --cor--terciaria: #FFFFFF;
    --cor--quaternaria: #27272795;
}

/* FONTES */
:root{
    --fonte--primaria: 'Inter', sans-serif;
}

/* CORPO PRINCIPAL */
body{
    background-color: var(--cor--terciaria);
    font-family: var(--fonte--primaria);
    color: var(--cor--terciaria);
}

/* CABEÇALHO */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;   
    background-color: var(--cor--quaternaria);
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;    
    padding: 0% 3% 0% 5%;
    z-index: 1;    
}

.cabecalho__logo{
    width: 130px;
}

.cabecalho__icones{
    gap: 300px;
}

/* BANNER VIDEO PIXLOG */
.container{
    width: 100%;
    height: 100vh
    
    ;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 5%;
    padding-right: 15%;
    gap: 30px;
}

.content{
    text-align:justify;
}

.content h1{
    font-size: 3rem;
    color: var(--cor--terciaria);
    
}

.content p{
    font-family: var(--fonte--primaria);
    font-size: 1.5rem;
    font-weight: 400;     
}

.content button{
    font-size: 23px;
    color: var(--cor--terciaria);
    background: transparent;
    text-decoration: none;
    border: 3px solid var(--cor--terciaria);
    padding: 15px 30px;
    border-radius: 50px;
    transition: 0.3s;
}

.content button:hover{
    background-color: var(--cor--terciaria);
    color: #272727;
    font-weight: 300;
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* CARD CAPTURA DE LEADS */
.card_leads {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 450px;
    border-radius: 30px;
    background-color: #ffffff80;
  }

.card__container {
    padding: 10%;
}

.card__destaque{
    font-size: 20px;
    font-weight: 900;
    color: var(--cor--secundaria);
}

  .card__botao {
    font-size: 23px;
    color: var(--cor--terciaria);
    background: transparent;
    text-decoration: none;
    border: 3px solid var(--cor--terciaria);
    padding: 5px 50px;
    border-radius: 50px;
    transition: 0.3s;
  }
  
  .card__botao:hover {
    background-color: var(--cor--secundaria);
    border: 3px solid var(--cor--secundaria);    
    font-weight: 300;
  }

  .section__01 {
    background-color: var(--cor--terciaria);    
  }

  .section__01__cabecalho {
    padding-left: 100px;
    padding-right: 100px;
  }

  .layout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .section__01__lista {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .section__01 h1 {
    color: var(--cor--primaria);
    font-size: 28px;
    font-weight: 400px;
    padding: 50px 0 10px 0;
  }
  
  .section__01 h2 {
    color: var(--cor--primaria);
    font-size: 20px;
    font-weight: 100px;
  }

  .section__01 h3 {
    color: var(--cor--primaria);
    font-size: 15px;
  }

  .section__01 p {
    color: var(--cor--primaria);
    font-size: 18px;
    font-weight: 400px;  
    padding-bottom: 3px;  
    padding-top: 5px;
  }

  .section__01 li {
    color: var(--cor--primaria);
    font-size: 18px;
    font-weight: 400px;
    padding: 7px 0 7px 0;   
  }

  .section__01__botao {
    padding-top: 40px;
       
  }

  .section__01 button {
    font-size: 20px;
    color: var(--cor--terciaria);
    background-color: var(--cor--secundaria);
    padding: 15px 150px;
    border-radius: 50px;
    text-decoration: none;
    border: 3px solid var(--cor--terciaria);  
  }

  .section__01__bloco__texto__inf {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 100px 50px 100px;
  }

  .section__01__bloco__texto__layout {
    display: flex;    
    align-items: baseline;
    gap: 10px;
  }

  .section__01_folhas {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .section__01__topicos img {
    width: 30px;

  }
  
  .section__01__topicos h2 {
    font-size: 18px;
    font-weight: 600;
  }

  .section__01__topicos h3 {
    font-size: 12px;
    font-weight: 500;
  }

  .section__02 {
    background-color: var(--cor--terciaria);
    font-family: var(--fonte--primaria);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
  }

  .section__02__titulo{
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding: 100px 100px 30px 100px;
  }

  .section__02__texto {
    color: var(--cor--primaria);
    font-weight:bold;
  }

.section__03__botao {
   padding: 50px;
   display: flex;
   justify-content: center;
   }

.section__03__botao button { 
    font-size: 20px;
    color: var(--cor--terciaria);
    background-color: var(--cor--secundaria);
    padding: 15px 150px;
    border-radius: 50px;
    text-decoration: none;
    border: 3px solid var(--cor--terciaria);
}

.section__04__plan__titulo {
  display: flex;
  flex-direction: row; 
  padding: 10px 100px 0px 100px;
  gap: 10px;
}

.section__04__plan h1 {
    color: var(--cor--primaria);
    font-weight:bold;       
}

.section__04__plan p {
    color: var(--cor--primaria);
    font-size: 18px;
    font-weight: 400;
}

.section__04__subtitulo {
    color: var(--cor--primaria);
    font-size: 18px;
    font-weight: 400;
    padding: 10px 100px 30px 100px;
}

.card__planos__layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 100px 100px 100px;
    gap: 50px;    
  }

  .card__planos {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
    width: 200px;
    height: fit-content;
    text-align: center;
    border-radius: 1rem;  
}

.card__planos h1 {
   color: var(--cor--terciaria);
    font-size: 1.2rem;
    background: var(--cor--primaria);
    border-radius: 1rem 1rem 0  0; 
    padding: 20px 15px 20px 15px;
}

.card__planos h2 {
  padding: 30px 0px 30px 0px;  
}

.card__planos h3 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 30px;
}

.card__planos h4 {
  font-size: 15px;
  font-weight: 500;
}


.card__line {
  border: 1.5px solid grey;
  width: 80px;
  margin: auto;  
}

.card__planos:hover {
  box-shadow: 0 20px 50px 0 rgba(0,0,0,0.2);
  scale: 110%;
}

.card__planos__container {  
  color: var(--cor--primaria);
  padding-top: 20px;
  padding-bottom: 20px;   
}

.card__planos__container img {
  height: 40px;
}

.section__05 {
  background: linear-gradient(45deg, rgba(19,43,57,1) 50%, #4194C4 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 30px 0px;
}

.section__05__banner img {
  width: 100%;
  height: auto;
}

.section__05__lista li {
  font-size: 20px;
  padding: 10px 0px 10px 0px;
}

.section__05__lista h1 {
  font-size: 30px;
  color: var(--cor--secundaria);
  padding-bottom: 20px;
}

.section__05__lista h2 {
  color: var(--cor--terciaria);
  padding: 10px 0px 10px 0px;
}

.section__05__botao {
  padding: 30px 0px;
}

.section__05__botao__container {
   backface-visibility: hidden;
  background-color: var(--cor--secundaria);
  border-radius: 50px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;  
  color:var(--cor--terciaria);
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  padding: 15px 120px; 
  text-align: center;
  text-decoration: none;  
  transition: all .3s;  
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.section__05__botao__container:hover {
  background-color: var(--cor--terciaria);
  color: var(--cor--primaria);     
  transition-duration: .35s;
}

.section__05__qrcode {
  padding: 30px 0px;
}

.section__05__qrcode__layout {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.section__05__baixe {
  padding: 30px 0px;
}

.section__05__card__line {
  border: 2px dotted var(--cor--secundaria);
  width: auto;
  margin: auto;
}

.section__06 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  background: var(--cor--primaria)
}

.section__06 h1 {
  color: var(--cor--terciaria);
  font-weight:bold;
}

.section__06 p {
  color: var(--cor--terciaria);
  color: var();
  font-size: 14px;
  font-weight: 400;
  text-align: justify; 
}

.section__06__titulo__layout {
  display: flex;
  flex-direction: column;
  padding: 50px 250px;
}

.section__06__titulo {
  display: flex;
  align-items: center;
  gap: 10px;
  }




