/* IMPORTAÇÕES */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

/* CORES */
:root{
    --cor--primaria: #132B39;
    --cor--secundaria: #86C549;
    --cor--terciaria: #FFFFFF;
    --cor--quaternaria: #27272795;
}

/* FONTES */
:root{
    --fonte--primaria: 'Inter', sans-serif;
}

/* CORPO PRINCIPAL */
body{
    background-color: var(--cor--primaria);
    font-family: var(--fonte--primaria);
    color: var(--cor--terciaria);
}

/* CABEÇALHO */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;   
    background-color: var(--cor--quaternaria);
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;    
    padding: 0% 3% 0% 3%;
    z-index: 1;    
}

.cabecalho__logo{
    width: 130px;
}

.cabecalho__icones{
    gap: 300px;
}

/* BANNER VIDEO PIXLOG */
.section__01{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner{    
    width: 100%;
    height: 100%;   
      
}

.content {
    font-size: 1.5rem;
    font-weight: 600;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    position: fixed;
    
  }

  .content__texto{
    font-size: 1rem;
    font-weight: 500;
    
  }


